  @font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url("../fonts/Roboto.woff") format('woff'),
		url("../fonts/Roboto.woff2") format("woff2");
		font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto", "Arial", sans-serif;
    src: url("../fonts/Robotomedium.woff") format("woff"),
  	url("../fonts/Robotomedium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto", "Arial", sans-serif;
		src: url("../fonts/Robotobold.woff") format("woff"),
		url("../fonts/Robotobold.woff2") format("woff2");
		font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
		font-size: 16px;
    line-height: 24px;
    font-weight: 400;
		background-color: #849d8f; /*для слайдера*/
	}

  .wrapper {
    position: relative;
  }

  .container {
    box-sizing: border-box;
  	width: 1200px;
  	padding-left: 27px;
  	padding-right: 27px;
  	margin: 0 auto;
  	}

  .container-map {
    position: relative;
    box-sizing: border-box;
  	width: 1200px;
  	margin: 0 auto;
  }

  /*------------------------header---------------------------*/
  .header {}

  .header-page-inner {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: flex-start;
    align-items: flex-start;
  	margin-bottom: 13px;
  }

  .header-logo {
  	width: 154px;
  	height: 64px;
    margin-top: 9px;
    overflow: hidden; /*обрезает всё что за размеры картинки*/
  }

  .header-logo-link {
    font-size: 0;
    line-height: 1;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  .header-logo-link img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    width: 396px;
    padding-left: 10px;
    padding-top: 7px;
  }

  .menu-item {
    display: inline-block;
    vertical-align: top;
  	position: relative;
    padding-bottom: 10px;
  }

  .menu-item:hover .menu-link {
    background-color: #f7f6f3;
    border-radius: 15px;
    color: #000000;
  }

  .menu-link,
  .hide-link{
    display: block;
    color: white;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    padding: 7px 14px;
    border-radius: 15px;
    text-decoration: underline rgba(255,255,255,0.3);
  }

  .catalog-hover {
    background-color: #d07058;
    text-decoration: none;
  }

  .first {
    border-bottom: 1px solid #d1d0ce;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }

  .hide-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
  }

  .menu-link:hover {
  	background: #f7f6f3;
  }

  .menu-hide {
  	display: none;
  	position: absolute;
  	top: 37px;
    left: -16px;
  	width: 143px;
  	background-color: #f8f7f4;
  	border-radius: 5px;
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 30;
  }

  .menu-hide ul {
  	margin: 0;
  	padding: 0;
  }

  .menu-hide .hide-item {
  	margin-right: 0;
  	margin-bottom: 4px;
    list-style: none;
  }

  .hide-item:hover {
    background-color: #fbded7;
    border-radius: 5px 5px 0 0;
  }

  .hide-item:active {
  	background-color: #f6b5a5;
  }

  .menu-hide .hide-item a {
  	color: #323232;
  	font-size: 14px;
  	line-height: 16px;
  	font-weight: 400;
  }

  .hide-item:first-child a {
  	font-weight: 700;
  }

  .menu-item:hover .menu-hide {
  	display: block;
  }

  .catalog:hover ~ .menu-item {
  	margin-top: 13px;
  }

  .header-nav li {
    margin-right: 29px;
  }

  .header-nav li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header-actions {
    margin-left: auto;
    position: relative;
  }

  .header-actions-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
  }

  .header-actions-list li {
    padding-top: 6px;
  }

  .header-actions-list li:last-child {
    margin-right:0;
  }
  /*------------------------Поиск---------------------------*/
  .label-serching {
    display: none;
  }

  .header-actions-item {
    position: relative;
    cursor: pointer;
    padding-bottom: 8px;
  }

  .header-actions-icon {
    position: relative;
    font-size: 0;
    display: block;
    width: 32px;
    height: 32px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
  }

  .header-actions-icon--searching::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: url("../img/icon-find.png") no-repeat
    center center;
    transform: translate(-50%, -50%); /*узнать шо за нах*/
    z-index: 30;
  }

  .header-actions-item:hover .header-actions-icon {
    background-color: #ffffff;
  }

  .header-actions-item:hover .header-actions-icon--searching::before {
    background: url("../img/icon-find-hover.png") no-repeat
    center center;
  }

  .search-form {
  	display: none;
  	position: absolute;
  	top: 42px;
  	right: 0;
  	width: 340px;
  	box-sizing: border-box;
  	padding: 20px 15px;
  	border-radius: 5px;
  	background-color: #f8f7f4;
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 30;
  }

  .search-form input[type="search"] {
  	padding: 13px 15px;
  	width: 100%;
  	border: 1px solid #d3d3d2;
  	border-radius: 3px;
  	outline: none;
  }

  .search-form input[type="search"]:hover {
  	border: 2px solid #c7c6c5;
  	padding: 12px 14px;
  }

  .search-form input[type="search"]:focus {
  	outline: none;
  	border-radius: 3px;
  	border: 2px solid #8fbdec;
  	padding: 12px 14px;
  }

  .search-form label {
  	display: block;
  	position: absolute;
  	color: #b2b2b2;
  	font-size: 14px;
  	line-height: 24px;
  	font-weight: 400;
  	top: 31px;
    left: 30px;
    transition: 0.35s;
  }

  .search-form input[type="search"]:focus + label {
	  top: 5px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .header-actions-item:first-child:hover .search-form {
    display: block;
  }
  /*------------------------Логин---------------------------*/
  .header-actions-link--enter::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 16px;
    width: 21px;
    height: 19px;
    background: url("../img/icon-enter.png") no-repeat
    center center;
    color: rgba(255, 255, 255, 1);
    z-index: 30;
  }

  .header-actions-link--enter:hover {
    background: #ffffff;
    color: #000000;
  }
  .header-actions-link--enter:hover::before {
    background: url("../img/icon-enter-hover.png") no-repeat
    center center;
  }

  .header-actions-item:nth-child(2):hover .enter-wrap {
    display: block;
  }
  /*------------------------скрытый блок login----------------*/
  .enter-wrap {
    display: none;
    position: absolute;
    top: 42px;
    right: 0;
    width: 277px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 17px 20px 19px;
    z-index: 100;
  }

  .enter-form {
    position: relative;
  }

  .enter-form input[type="text"],
  .enter-form input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 2px solid #d3d3d2;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
  }

  .enter-form label {
    position: absolute;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    transition: 0.35s;
    z-index: 30;
  }

  .enter-form label[for="name"] {
    top: 10px;
    left: 15px;
  }

  .enter-form label[for="pass"] {
    top: 78px;
    left: 15px;
  }

  .enter-form input[type="text"]:focus + label {
    top: -15px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .enter-form input[type="password"]:focus + label {
    top: 48px;
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .enter-form input[type="text"]:hover,
  .enter-form input[type="password"]:hover {
    box-sizing: border-box;
    border: 2px solid #b6b5b3;
    padding: 12px 14px;
  }

  .enter-form input[type="text"]:focus,
  .enter-form input[type="password"]:focus {
    outline: none;
    border-radius: 3px;
    border: 2px solid #8fbdec;
    padding: 12px 14px;
  }

  .register-block {
    display: flex;
    justify-content: space-between;
  }

  .right-block {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  .right-block a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    color: #323232;
    font-size: 13px;
    line-height: 24px;
  }

  .right-block a:hover,
  .right-block a:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232,77,55,0.3);
  }

  .register-btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px 23px;
    margin-right: 20px;
    cursor: pointer;
  }

  .register-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .register-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }

  .header-actions-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    display: block;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    margin-left: 9px;
    padding: 9px 17px 8px 44px;
    border-radius: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .header-actions-link:last-child {
    padding-right: 35px;
  }

  .header-actions-link:hover .enter-wrap {
    display: block;
  }
/*------------------------корзина---------------------------*/
  .header-actions-link--basket::before {
    display: block;
    content: "";
    position: absolute;
    top: 6px;
    left: 18px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icon-basket.png") no-repeat
    center center;
    z-index: 30;
    margin-right: 10px;
  }

  .hover-basket::before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 21px;
    height: 20px;
    background: transparent url("../img/icon-basket-hover.png") no-repeat
    center center;
    z-index: 30;
    margin-right: 10px;
  }

  .hover-basket {
    background: #ffffff;
    color: #000000;
  }

  .header-actions-link--basket:hover {
    background: #ffffff;
    color: #000000;
  }
  .header-actions-link--basket:hover::before {
    background: transparent url("../img/icon-basket-hover.png") no-repeat
    center center;
  }
  /*-------------------------Окошко корзины--------------------------*/
  .header-actions-item .cart-wrap {
    position: absolute;
    display: none;
    right: 0;
    top: 42px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    color: #323232;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    width: 540px;
    box-sizing: border-box;
    padding: 20px 14px 21px 15px;
    z-index: 100;
  }

  .header-actions-item:hover .cart-wrap {
    display: block;
  }

  .cart-wrap .cart-item {
  	display: flex;
  	position: relative;
  	align-items: center;
  	justify-content: space-between;
  	margin-bottom: 20px;
  }

  .last-item {
  	padding-bottom: 17px;
  	margin-bottom: 10px;
  	border-bottom: 1px solid #cacac7;
  }

  .delete-item-first {
  	position: absolute;
  	display: block;
  	width: 11px;
  	height: 11px;
  	background: url("../img/Х.svg") no-repeat 50% 50%;
  	left: 6px;
  	top: 16px;
  	cursor: pointer;
  	outline: none;
  	border: none;
  }

  .delete-item-second {
  	position: absolute;
  	display: block;
  	width: 11px;
  	height: 11px;
  	background: url("../img/Х.svg") no-repeat 50% 50%;
  	left: 6px;
  	top: 24px;
  	cursor: pointer;
  	outline: none;
  	border: none;
  }

  .cart-item-price {
  	color: #999;
  }

  .item-name {
  	display: flex;
  	align-items: center;
  	padding-left: 26px;
  	width: 280px;
  }

  .item-name-icon {
  	margin-right: 14px;
  }

  .item-thing {
  	padding-right: 10px;
  }

  .final-price {
  	text-align: right;
  	font-size: 15px;
  	line-height: 18px;
  	font-weight: 700;
  	margin-top: -8px;
    margin-bottom: 5px;
  }

  .create-order {
  	float: right;
  	text-decoration: none;
  	color: #fff;
  	font-size: 18px;
  	line-height: 24px;
  	font-weight: 700;
  	background-image: linear-gradient(to bottom, #f26843, #e74a35);
  	box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  	border-radius: 50px;
  	border: none;
  	outline: none;
  	padding: 11px 15px 13px 14px;
  	cursor: pointer;
  }

  .create-order:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .create-order:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
/*------------------------Адрес---------------------------*/
  .header-contacts {
    position: absolute;
    right: 0;
    bottom: -38px;
    margin-left: auto;
    text-align: right;
  }

  .header-contacts-daily {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 4px;
  }

  .header-contacts-tel {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
  }

  .header-contacts-tel a {
    color: #ffffff;
    text-decoration: none;
  }
  /*------------------------Слайдер---------------------------*/
  .head-btn { /*прячем верхнюю панель переключателя слайдера*/
  	display: none;
  }

  .wrapper {
  	min-width: 940px;
  	min-height: 950px;
  	background-color: #849d8f;
  	background-repeat: no-repeat;
  	background-position: center 0;
  }

  .wrapper::before,
  .wrapper::after {
  	content: "";
  	visibility: hidden;
  }

  .wrapper::before,
  .wrapper::after {
  	background-image: url("../img/slider-blue.png");
  }

  .wrapper::before,
  .wrapper::after {
  	background-image: url("../img/slider-red.png");
  }

  .slider {
  	position: relative;
  	text-align: center;
  	color: #ffffff;
  }

  .slide {
  	display: none;
    padding-top: 297px;
    padding-bottom: 41px;
  }

  .slide-title {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 29px;
  }

  .slide-btn {
  	display: inline-block;
  	padding: 11px 40px;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
  	vertical-align: top;
  	color: #ffffff;
  	text-decoration: none;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  	background: #f26843;
  	background:  -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background:  -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  }

  .slide-btn:hover {
  	background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background:  -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  	background:  linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

  .slide-btn:active {
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
    box-shadow: inset 0px 2px 2px 0px #942718;
  }

  .slider-controls {
  	position: absolute;
  	bottom: 60px;
  	left: 0;
  	z-index: 20;
  	font-size: 0;
  }

  .slider-controls label {
  	display: inline-block;
  	width: 17px;
  	height: 17px;
  	margin-right: 8px;
  	vertical-align: top;
  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer; /*изменение курсора при наведении*/
  }

  #btn-1:checked ~ .wrapper #slide1, /*если нажимаем radio-btn-1, то внутри
  .site-wrapper элемент с индификатором #slide1 становится display: block*/
  #btn-2:checked ~ .wrapper #slide2,
  #btn-3:checked ~ .wrapper #slide3 {
  	display: block;
  }

  #btn-1:checked ~ .wrapper {
  	background-color: #849d8f;
  	background-image: url("../img/slider-green.png");
    background-repeat: no-repeat;
  }

  #btn-2:checked ~ .wrapper {
  	background-color: #8996a6;
  	background-image: url("../img/slider-blue.png");
    background-repeat: no-repeat;
  }

  #btn-3:checked ~ .wrapper {
  	background-color: #9d8b84;
  	background-image: url("../img/slider-red.png");
    background-repeat: no-repeat;
  }

  #btn-1:checked ~ .wrapper label[for="btn-1"], /*если нажимаем radio-btn-1, то внутри
  .site-wrapper label для кнопки такой-то заливается #ffffff цветом*/
  #btn-2:checked ~ .wrapper label[for="btn-2"],
  #btn-3:checked ~ .wrapper label[for="btn-3"] {
  	background-color: #ffffff;
  }

  /*------------------------main-----------------------------------------*/
  /*------------------------2 большие карточки---------------------------*/
  .features {
    margin-bottom: 34px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features-item {
    max-width: 560px;
    height: 229px;
    display: flex;
    flex-direction: column;
  }

  .features-title {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
  }

  .features-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
  }

  .features-title {
    margin: 17px;
  }

  .features-text {
    margin-top: -3px;
    margin-left: 19px;
    padding-right: 20px;
    margin-bottom: 43px;
  }

  .features-item:first-child {
    background-color: #80212d;
    background-image: url("../img/raspberry background.jpg");
    background-size: 140%;
    background-position: -48px -93px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
  }

  .features-item:last-child {
    background-color: #3f261b;
    background-image: url("../img/chocolate background.jpg");
    background-size: 148%;
    background-position: -217px -103px;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
  }

  .features-button {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 21px;
    margin-bottom: 21px;
    align-self: flex-end;
    display: inline-block;
    padding: 11px 21px;
  	vertical-align: top;
  	color: #ffffff;
  	text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border-radius: 100px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  }

  .features-button:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .features-button:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
  /*------------------------4 карточки хита---------------------------*/
  /*.goods {
    margin-bottom: 38px;
  }*/

  .goods-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods-item {
    position: relative;
    padding: 6px 0px 20px 0px; /*но на каталоге требуется 23 или 28 индекс*/
    text-align: center;
    box-sizing: border-box;
    width: 267px;
  }

  .goods-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .goods-price {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: relative;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    padding-left: 0;
  }

  .goods-pay {
    position: absolute;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    bottom: 13px;
    left: 0px;
  }

  .goods-weight span:nth-child(1) {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    bottom: 12px;
    left: 83px;
  }

  .goods-weight span:nth-child(2) {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    bottom: 8px;
    left: 112px;
  }

  .goods-valute {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
  }

  .goods-kg {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    margin-left: -10px;
  }

  .goods-item-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: white;
    text-decoration: underline rgba(255,255,255,0.3);
  }

  .goods-item-name {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 13px 0 10px 0;
    padding: 0 5px;
  }

  .goods-item:hover::before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    border-radius: 7px;
    width: 293px;
    height: 405px;
    top: 0px;
    left: -12px;
    z-index: 30;
  }

  .goods-item-btn {
    position: absolute;
    bottom: -19px;
    left: 34px;
    z-index: 40;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    visibility: hidden;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
    border-radius: 16px;
    padding: 10px 16px;
    text-align: center;
  }

  .goods-item:hover .goods-item-btn {
    visibility: visible;
  }

  .goods-item-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .goods-item-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }

  .error {
    display: block;
    content: "";
    position: absolute;
    background: url("../img/hit.png") no-repeat center center;
    transform: translate(-50%, -50%);
    width: 61px;
    height: 61px;
    top: 36px;
    left: 30px;
    z-index: 30;
  }
  /*------------------------О компании---------------------------*/
  .about {
    box-sizing: border-box;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
  }

  .about-background {
    background-color: #eadcbe;
    border-radius: 15px;
    background: url("../img/waffel.jpg") repeat;
    padding: 3px 19px;
    margin-top: 8px;
  }

  .about-head {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
    padding-top: 21px;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .about-list-item {
    position: relative;
    box-sizing: border-box;
    padding-left: 56px;
    width: 541px;
  }

  .item-description {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 16px 3px 6px 1px;
  }

  .about-list-item:nth-child(1)::before {
    background-image: url("../img/icon-ice.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 3px;
    left: 0px;
  }

  .about-list-item:nth-child(2)::before {
    background-image: url("../img/icon-cow.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 3px;
    left: 0px;
  }

  .about-list-item:nth-child(3)::before {
    background-image: url("../img/icon-leaf.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 3px;
    left: 0px;
  }

  .about-list-item:nth-child(4)::before {
    background-image: url("../img/icon-thermometer.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    display: block;
    z-index: 100;
    top: 3px;
    left: 0px;
  }
  /*------------------------2 большие карточки---------------------------*/
	.conversation{
		margin-bottom: 39px;
	}

	.conversation-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
    height: 221px;
	}

  .conversation-blog {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("../img/strawberry background.jpg");
    background-position-x: -53px;
    background-position-y: -225px;
    background-size: 155%;
    background-repeat: no-repeat;
    color: #000000;
    border-radius: 15px;
    padding-right: 235px;
  }

  .conversation-blog-head {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 23px 20px 2px 20px;
  }

  .conversation-blog-content {
    width: 286px;
    margin: 2px 20px;
  }

  .conversation-blog-content a {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

	.conversation-mail {
    box-sizing: border-box;
    width: 560px;
    background: #f8f7f4;
    background-image: url("../img/pattern-mail.png");
    border-radius: 15px;
    padding: 5px;
  }

  .conversation-mail-inner {
    background: #f8f7f4;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    padding-bottom: 35px;
    border-radius: 10px;
  }

  .conversation-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 29px 20px 1px 22px;
    margin-bottom: 35px;
  }

  .conversation-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;

  }

  .conversation-form-group-one {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 124px;
    font-weight: 400;
    box-sizing: border-box;
    width: 368px;
    margin-right: 10px;
  }

    .conversation-form-group-one input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    padding: 0 14px;
    height: 44px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
  }

  .conversation-form-group-two {
    align-self: baseline;
  }

  .conversation-btn {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
    border: none;
    padding: 8px 19px;
    cursor: pointer;
    outline: 0;
  }

  .conversation-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .conversation-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
  /*------------------------Карта---------------------------*/
	.contacts {
		position: relative;
	}

	.contacts-map {
    background-image: url("../img/map.jpg");
    height: 429px;
    margin-bottom: 19px;
    background-repeat: no-repeat;
    background-position: 0px -110px;
    background-color: #f6f0d7;
    background-size: 1200px 644px;
	}

  .contacts-map::before {
    content: "";
    position: absolute;
    top: 209px;
    left: 439px;
    width: 218px;
    height: 140px;
    background: url(../img/cursor.png) no-repeat
     center center;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

	.contacts-block {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: absolute;
    right: 27px;
    top: 63px;
    width: 302px;
    border-radius: 10px;
    background-color: white;
    color: #323232;
    padding: 29px 10px 10px 25px;
    box-sizing: border-box;
    min-height: 305px;
		z-index: 10;
	}

  .contacts-title {
    display: block;
    padding-right: 111px;
  }

  .contacts-adress {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    padding-right: 40px;
    margin-bottom: 19px;
  }

  .contacts-info-order {
    display: block;
  }

  .contacts-info-tell {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    display: block;
    padding-right: 40px;
    padding-top: 4px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #000000;
  }

  .contacts-info-work {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    display: block;
    margin-bottom: 23px;
  }

  .contacs-btn-size {
    padding-right: 15px;
  }

  .contacs-btn {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    padding: 10px 27px;
  	color: #ffffff;
  	text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border-radius: 100px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  }

  .contacs-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .contacs-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }

  .alive-map {
    width: 1200px;
    height: 429px;
    border: 0;
  }
	/*----------------------------Паодвал----------------------------------------*/
	.footer-page-inner {
		display: flex;
	  flex-direction: row;
	  justify-content: space-between;
		flex-wrap: wrap;
    margin-bottom: 26px;
  }

	.footer-social {
    position: relative;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 268px;
		height: 50px;
    margin: 11px 0 0 0;
	}

  .social-link {
		margin-right: 11px;
		display: block;
		text-decoration: none;
		box-sizing: border-box;
		width: 38px;
		height: 38px;
		background-color: transparent;
		opacity: 0.8;
		font-size: 0;
		border-radius: 50%;
		border: 2px solid rgba(255, 255, 255, 0.5);
	}

	.social-link:hover {
		border: 3px solid rgba(255, 255, 255, 0.7);
		opacity: 1;
	}

	.social-link:active {
		border-radius: 50%;
	  background-color: rgba(255, 255, 255, 0);
	  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
	}

	.social-link-tw {
		background-image: url("../img/icon-tw.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-vk {
		background-image: url("../img/icon-vk.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-fb {
		background-image: url("../img/icon-fb.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.social-link-in {
		background-image: url("../img/icon-in.png");
		background-repeat: no-repeat;
		background-size: cover;  /*узнать какого хе*/
	}

	.footer-links {
    list-style: none;
    height: 40px;
    width: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-right: 44px;
	}

  .links-item {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .links-item-copyright {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  .heart {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
  }

  .links-item:hover,
  .links-item-copyright:hover {
    color: #ffbc9e;
  }

  .footer-links::before{
    background-image: url("../img/icon-heart.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    display: block;
    z-index: 100;
    top: 17px;
    left: -19px;
  }

	.footer-links li {
    text-decoration: none;
    margin: 2px 33px 2px 0;
	}

  .footer-links a {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    display: block;
    color: white;
  }

  .footer-links li:first-child {
    font-weight: 700;
  }

	.footer-copyright {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: white;
  }

  .footer-copyright a {
    color: white;
  }
/*------------------------------Форма--------------------------------*/
  .contact-us {
  	position: fixed;
  	display: none;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 477px;
  	padding: 20px 25px 25px 24px;
  	background-color: #f8f7f4;
  	border-radius: 5px;
  	color: #323232;
  	z-index: 200;
  }

  .contact-us-show {
    display: block;
  }

  .contacs-btn:active .contact-us {
    display: block;
  }

  .contact-head {
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 23px;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
  }

  .close-btn {
    position: absolute;
    display: block;
    width: 18px;
    height: 17px;
    background: url("../img/Х.svg") 50% 50% no-repeat;
    right: 20px;
    top: 25px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  .contact-form {
    display: block;
  }

  .contact-name-field,
  .contact-mail-field,
  .send-btn  {
    width: 267px;
    box-sizing: border-box;
    border: 1px solid #d3d3d2;
    padding: 11px 14px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    margin-bottom: 20px;
    font-family: "Roboto", "Arial", sans-serif;
    z-index:5;
  }

  .contact-name,
  .contact-mail,
  .contact-message {
    position: absolute;
    display: block;
    cursor:text;
    left: 40px;
    color: #999;
    z-index:3;
    transition: 0.25s;
  }

  .contact-name-field:focus + .contact-name,
  .contact-mail-field:focus + .contact-mail,
  .contact-message-field:focus + .contact-message {
    transform: translatey(-30px);
    font-size: 11px;
    line-height: 13px;
    color: #5b9ddf;
  }

  .contact-name-field:focus,
  .contact-mail-field:focus,
  .contact-message-field:focus {
    outline: none;
    border-radius: 3px;
    border: 2px solid #8fbdec;
    padding: 10px 13px;
  }

  .contact-name {
    top: 78px;
  }

  .contact-mail {
    top: 146px;
  }

  .contact-message {
    top: 215px;
  }

  .contact-message-field {
    display: block;
    width: 100%;
    height: 155px;
    box-sizing: border-box;
    border: 1px solid #d3d3d2;
    padding: 11px 14px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    margin-bottom: 25px;
    outline: none;
    resize: none;
  }

  .contact-mail-field:hover,
  .contact-name-field:hover,
  .contact-message-field:hover {
    border: 2px solid #c7c6c5;
    padding: 10px 13px;
  }

  .send-btn {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, #f26843, #e74a35);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: 0;
    margin-bottom: 0;
    width: auto;
    float: right;
  }

  .send-btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
    background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  }

  .send-btn:active {
    box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
    background-image: linear-gradient(to bottom, #e74a35, #f26843);
  }
/*----------------------catalog------------------------------*/
  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
  }

  .breadcrumbs-item {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding-top: 5px;
    margin-right: 7px;
  }

  .breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #aebeb5;
    cursor: pointer;
  }

  .breadcrumbs-target {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    padding-top: 5px;
  }
/*----------------------------Фильтры------------------------------*/
  .filters-head {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    padding: 0;
    margin: 5px 0 0 0;
    color: #ffffff;
  }

  .filter {
    display: block;
  }

  .filter-position {
  	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: flex-start;
  	margin-bottom: 34px;
  }

  .caption-sort {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
    padding: 26px 0 6px 16px;
  }

  .caption-price {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
    padding: 28px 0 6px 14px;
  }

  .caption-inner {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
    padding: 0 0 6px 15px;
  }

  .caption-fat {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 28px 0 6px 16px;
  }

  .filter-position input[type="radio"],
  .filter-position input[type="checkbox"] {
  	display: none;
  }

  .price-number span {
    color: #ffffff;
  }

  .price {
    margin-top: -18px;
  }

  .price span {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 3px;
  }

  .price input[type="text"] {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    width: 24px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }

  .range {
    position: relative;
    margin-top: -2px;
    width: 218px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    padding: 16px 15px;
    box-sizing: border-box;
  }

  .price .bar {
    content: "";
    height: 4px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.5) 15%, #fff 15%, #fff 70%, rgba(255,255,255,0.5) 70%, rgba(255,255,255,0.5) 100%);
  }

  .price .toggle{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    top: 8px;
    left: 34px;
    cursor: pointer;
  }

  .price .toggle-max {
    left: 133px;
  }

  .sorting {
  	margin-right: 16px;
  	margin-bottom: 17px;
  }

  .filter-position input[type="submit"] {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.2);
    padding: 7px 29px;
    border: 2px solid #fbfbfb;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-top: 21px;
    margin-left: 15px;
    padding-right: 26px;
  }

  .filter-position input[type="submit"]:hover {
    color: #323232;
    background-color: #fbfbfb;
  }

  .filter-position input[type="submit"]:active {
    box-shadow: 0px 2px 1px 0px rgba(105, 105, 105, 0.5) inset;
    border:none;
    padding: 9px 30px;
  }

  .fat {
    margin-left: 15px;
    margin-top: -17px;
  }

  .label-zero {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    margin-right: 45px;
    padding-left: 2px;
    cursor: pointer;
  }

  .label-ten {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    margin-right: 46px;
    bottom: 2px;
    cursor: pointer;
  }

  .label-thirty {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    margin-right: 46px;
    bottom: 2px;
    cursor: pointer;
  }

  .label-over {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    bottom: 2px;
    cursor: pointer;
  }

  .label-ch {
    position: relative;
    margin-right: 48px;
    cursor: pointer;
  }

  .label-su {
    position: relative;
    margin-right: 50px;
    cursor: pointer;
  }

  .label-fr {
    position: relative;
    margin-right: 50px;
    cursor: pointer;
  }

  .label-sy {
    position: relative;
    margin-right: 50px;
    cursor: pointer;
  }

  .label-ja {
    position: relative;
    margin-right: 50px;
    cursor: pointer;
  }

  .fat label:last-child,
  .extender label:last-child {
    margin-right: 0;
  }

  .label-zero::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 22px;
    background: url("../img/radio-off.png") no-repeat;
    top: -2px;
    left: -29px;
  }

  .label-ten::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 22px;
    background: url("../img/radio-off.png") no-repeat;
    top: -1px;
    left: -31px;
  }

  .label-thirty::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 22px;
    background: url("../img/radio-off.png") no-repeat;
    top: -1px;
    left: -30px;
  }

  .label-over::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 22px;
    background: url("../img/radio-off.png") no-repeat;
    top: -1px;
    left: -31px;
  }

  .fat input[type="radio"]:checked + label:before {
    background: url("../img/radio-on.png") no-repeat;
  }

  .fat label:hover:before {
    background: url("../img/radio-off-hover.png") no-repeat;
  }

  .fat input[type="radio"]:checked + label:hover:before {
    background: url("../img/radio-on-hover.png") no-repeat;
  }

  .label-sy:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/check-off.png") no-repeat;
    top: 0px;
    left: -31px;
  }

  .label-ja:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/check-off.png") no-repeat;
    top: 0px;
    left: -33px;
  }

  .label-ch:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/check-off.png") no-repeat;
    top: 0px;
    left: -31px;
  }

  .label-su:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/check-off.png") no-repeat;
    top: 0px;
    left: -31px;
  }

  .label-fr:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/check-off.png") no-repeat;
    top: 0px;
    left: -33px;
  }

  .extender input[type="checkbox"]:checked + label:before {
    background: url("../img/check-on.png") no-repeat;
  }

  .extender label:hover:before {
    background: url("../img/check-off-hover.png") no-repeat;
  }

  .extender input[type="checkbox"]:checked + label:hover:before {
    background: url("../img/check-on-hover.png") no-repeat;
  }

  .label-text{
    color: #ffffff;
  }

  .fieldset-fat {
    margin: 0;
    display: inline;
    padding: 7px 16px 5px 44px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255,255,255,0.2);
  }

  .fieldset-inner {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
    margin-left: 1px;
    display: inline;
    padding: 9px 16px 9px 46px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255,255,255,0.2);
  }

  .select-list {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    height: 36px;
    padding: 10px 10px 10px 14px;
    border: 0;
    -webkit-appearance: none;
    width: 193px;
    color: #fff;
    outline: none;
  }

  .select-item {
    color: #000;
  }

  .select {
    overflow: hidden;
    border-radius: 20px;
    height: 36px;
    background: url("../img/arrow-down.png") no-repeat 170px 16px;
    width: 193px;
  }

  .select:hover {
    background: url("../img/arrow-down-active.png") no-repeat 170px 16px;
    background-color: #fbfbfb;
  }

  .select:hover .select-list {
    color: #323232;
  }
/*----------------------------Pagination---------------------------*/
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    list-style: none;
    margin-top: 54px;
    text-align: right;
    padding-bottom: 29px;
    margin-bottom: 19px;
  }

  .pagination-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin-left: 4px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition: 0.15s;
  }

  .pagination-link-left {
    padding-right: 11px;
  }

  .pagination-link-right {
    margin-left: 18px;
  }

  .pagination-link:hover {
    background-color: rgba(225, 225, 225, 0.2);
  }

  .pagination-link:active {
    background-color: #fff;
    color: #000;
  }

  .pagination-link--active {
    background-color: #fff;
    color: #000;
  }

  .pagination-link--active:hover {
    background-color: #fff;
  }

  .prev-page {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
  }

  .next-page {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
  }
/*------------ -------------Анимация--------------------------------------*/

  @keyframes bounce {
    0%   {transform: translateY(-2000px) translateX(-50%);}
    70%  {transform: translateY(-200px) translateX(-50%);}
    90%  {transform: translateY(-240px) translateX(-50%);}
    100% {transform: translateY(-230px) translateX(-50%);}
  }

  .contact-us-show {
    display:block;
    animation: bounce 0.6s;
  }
